@{
    ViewBag.Title = "Shipping";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="body_part_inner">
    <div class="top_other_nav">
        <ul>
            <li><a href="#">Saved Designs</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">Favorites</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">Doreen Smith<img src="Styles/Images/down_frop.png" alt="" /></a></li>
            <li><a href="#">|</a></li>
            <li><a href="#"><img src="Styles/Images/cart_img.png" alt="" />Cart <span class="one_color">1</span></a></li>
        </ul>
    </div>
    <div class="print_total">
        <h1 class="title3"><img src="Styles/Images/delivery_icon.png" alt="" />Shipping Delivery</h1>
        <div class="three_part">
            <ul>
                <li><a href='@Url.Action("Index","Shipping")' class="color_1"><img src="Styles/Images/ticker.png" alt="" />SHIPPING ---- </a></li>
                <li><a href='@Url.Action("Index","Payment")' class="color_2"><img src="Styles/Images/downarrow.png" alt="" />PAYMENT ---- </a></li>
                <li><a href="#" class="color_3">REICIPT</a></li>
            </ul>
        </div>

        <div class="total_cart">
            <div class="left_contshop">
                <div class="middle_portion">
                    <div class="heading3">Shipping Address</div>
                    <div class="form_credit">
                        <div class="form_part_cre">
                            <div class="name_form">Full Name</div>
                            <div class="field_cre">
                                <input type="text" class="field_cre_for" />
                            </div>
                        </div>

                        <div class="form_part_cre">
                            <div class="name_form">Company</div>
                            <div class="field_cre2">
                                <img src="Styles/Images/expire1.png" alt="" />
                                <img src="Styles/Images/expire2.png" alt="" />
                            </div>
                        </div>

                        <div class="form_part_cre">
                            <div class="name_form">Address</div>
                            <div class="field_cre">
                                <input type="text" class="field_cre_for" />
                            </div>
                        </div>


                        <div class="form_part_cre">
                            <div class="name_form">Zip</div>
                            <div class="field_cre">
                                <input type="text" class="field_cre_for" />
                            </div>
                        </div>

                        <div class="form_part_cre">
                            <div class="name_form">City</div>
                            <div class="field_cre">
                                <input type="text" class="field_cre_for" />
                            </div>
                        </div>

                        <div class="form_part_cre">
                            <div class="name_form">State</div>
                            <div class="field_cre">
                                <input type="text" class="field_cre_for" />
                            </div>
                        </div>

                        <div class="form_part_cre">
                            <div class="name_form">Phone</div>
                            <div class="field_cre">
                                <input type="text" class="field_cre_for" />
                            </div>
                        </div>

                        <div class="form_part_cre">
                            <input type="button" class="sub" value="SUBMIT" />
                        </div>
                    </div>
                </div>



            </div>
            <div class="right_shop">
                <div class="right_middle">
                    <div class="heading">Order Summary</div>
                    <div class="order_img"><img src="Styles/Images/order_summery_image.png" alt="" /></div>
                    <div class="first_desc2">
                        <h1>Lorem Ipsum has <span class="dollar">$48.00</span></h1>
                        <h2>8.5 “ x  11” Flyer</h2>
                        <p>Lorem Ipsum Dummy <br />text Lorem Ipsum </p>
                    </div>

                    <div class="ruppes">
                        <div class="total_rupe">
                            <div class="left_ruppe">&nbsp; </div>
                            <div class="right_rupe2">$48.00</div>

                        </div>
                        <div class="total_rupe">
                            <div class="left_ruppe2">Order subtotal   </div>
                            <div class="right_rupe2"> $48.00</div>
                            <div class="separat"></div>
                        </div>
                        <div class="total_rupe">
                            <div class="left_ruppe2">Estimated Total  </div>
                            <div class="right_rupe2">$48.00</div>
                        </div>
                    </div>

                    <input type="button" class="payby" value="Pay by Credit Card" />
                    <input type="button" class="paypal" value="" />
                </div>
            </div>
        </div>
    </div>
</div>
