.testimonial-static {
    float: left;
    display: block;
    width: 100%;
    margin-top: 3%;
    font-weight: bold;
    margin-bottom: 3%;
}

    .testimonial-static p {
        width: 100%;
        margin-bottom: 2%;
        font-family: 'open_sansregular';
        font-size: 14px;
        line-height: 1.3;
        color: #575252;
        text-align: left;
    }

.testimonial_otherpart {
    width: 100%;
    height: 38%;
    float: left;
    border-top: 1px solid #00a9d4;
    border-bottom: 1px solid #00a9d4;
    padding: 4% 0;
    z-index: 0;
}

.tes_icon1 {
    background: url(images/t1.png) no-repeat center;
    width: 100%;
    height: 31px;
    float: left;
    margin-top: -54%;
}

.tes_icon2 {
    background: url(images/t2.png) no-repeat center;
    width: 100%;
    height: 31px;
    float: left;
    margin-top: -4%;
}

.testi_text {
    width: 100%;
    height: 95%;
    float: left;
    text-align: center;
    overflow: hidden;
}


.testimonial-scroll-container {
    float: left;
    display: block;
}

ul.testimonial-scroll {
    list-style-type: none;
}

    ul.testimonial-scroll li {
        float: left;
        display: block;
        width: 100%;
        margin-bottom: 2%;
    }

.bq {
    padding: 0 0 0 3%;
    border-left: 5px solid #577da4;
    width: 96%;
}

    .bq:hover {
        border-left: 5px solid #11c1ee;
        background-color: #DFDFDF;
    }

    .bq p {
        font-style: italic;
        font-size: 14px;
        line-height: 18px;
        color: #8c8785;
        text-align: left;
        width: 100%;
    }

p.after {
    font-weight: bold;
    color: #6793d4;
    text-align: right;
    font-size: 12px;
    width: 97%;
}
