<div class="ztoolbar" id="textbox_tools">
    <div class="textbox_edit_area">
        <div id="textbox_tools_text_title">Enter Text:</div>
        <textarea maxlength="100" id="inline_textarea"></textarea>
    </div>
    <div class="textbox_edit_command">
        <div id="btn_text_remove" class="toolbar-button type6 dt-base-gradient">
            <div class="button-icon iconset iconset-edit-delete"></div>
            <div class="button-text">Delete</div>
        </div>

        <div id="btn_text_done" class="toolbar-button type6 dt-proceed-button">
            <div class="button-text">Done</div>
        </div>
    </div>
</div>