<div class="float-toolbar ztoolbar" id="crop_toolbar">
    <div id="extra_crop_option" style="min-height: 38px; margin-top: 10px; min-width: 167px;">
        <div id="btn_text_remove" class="toolbar-button type6 dt-base-gradient">
            <div class="button-icon iconset" style="background-position: -400px 0;"></div>
        </div>

        @using (Html.BeginForm("ReplaceImage", "Editor", FormMethod.Post,
            new
            {
                enctype = "multipart/form-data",
                id = "frmReplaceImage",
                name = "frmReplaceImage",
                target = "UploadTarget"
            }))
        {
            <input type="file" id="replaceImage" name="replaceImage" accept="image/x-png, image/gif, image/jpeg"
                   style="position: absolute; width: 93px; opacity: 0; z-index:1;" />
        }
        <iframe id="UploadTarget" name="UploadTarget" onload="ReplaceImage_OnSuccess();" style="display:none">
        </iframe>
        <div id="btn_image_remove" class="toolbar-button type6 dt-base-gradient">
            <div class="button-text">Replace Image</div>
        </div>

        <div id="btn_crop_done" class="toolbar-button type6 dt-proceed-button">
            <div class="button-text">Done</div>
        </div>
    </div>
</div>