@using Keystone.Web.Models
@model UserAccountModel

<script type="text/javascript">
    (function ($, win) {
        $(document).ready(function () {
            ForgotPasswordValidationSetup();
        });

        var ForgotPasswordValidationSetup = function () {
            try {
                var validationData = GetValidationErrorMarkup();
                validationData.rules = {
                    UserId: { required: true }
                };
                validationData.messages = {
                    UserId: { required: 'UserId is required' }
                };
                $('#frmForgotPassword').validate(validationData);
            } catch (ex) {
                console.log(ex);
            }
        };

        this.SubmitForgotPassword = function () {
            try {
                if ($('#frmForgotPassword').valid()) {
                    $('#frmForgotPassword').submit();
                }
            } catch (ex) {
                console.log(ex);
            }
        };

        this.ForgotPassword_OnSuccess = function (data) {
            try {
                if (data) {
                    if (data.Status) {
                        var referalUrl = $('#ReferalUrl').val();

                        alert(data.Message, function () {
                            if (referalUrl != '') {
                                win.location.href = Base64Decode(referalUrl);
                            }
                        });
                    }
                    else
                        alert(data.message);
                }
            } catch (ex) {
                console.log(ex);
            }
        }
    }(jQuery, window));

</script>

@using (Ajax.BeginForm("ForgotPassword", "UserAccount", null,
    new AjaxOptions { OnSuccess = "ForgotPassword_OnSuccess" }, new { id = "frmForgotPassword" }))
{
    <div class="popup-cotainer content-wrapper">
        <div class="popup-title">Recover Password</div>
        <div class="popup-content row-container">
            <div class="row-item">
                <div class="row-col-left">
                    User Id / Email ID:
                </div>
                <div class="row-col-right">
                    @Html.TextBox("UserId", "", new { @class = "gradient_effect", placeholder = "User Id / Email Id", data_type = "partial" })
                    <i>Please enter your username OR your email address to recover your password.</i>
                </div>
            </div>
        </div>
        <div class="popup-navigation" style="padding: 2% 0 1% 3%;">
            <input type="button" style="margin-left: 33%;" class="sub"
                   onclick="SubmitForgotPassword();" value="Submit" />
        </div>
    </div>

    @Html.Hidden("ReferalUrl", (object)ViewData["ReferalUrl"])
}
