@using Keystone.Web.Models
@model List<OrderItemModel>


<div class="popup-cotainer" id="order-item" style="width:175px;">
    <div class="popup-arrow-up top-center"></div>
    <div class="popup-title" style="height: 25px;">Navigate to editor</div>
    <div class="popup-content" style="max-height: 200px; overflow-y: auto; overflow-x: hidden;">
        <ul class="user-links draft-link">
            @foreach (OrderItemModel item in Model)
            {
                <li>
                    <a href='javascript:void(0);' onclick="EditItemFromCollcetion(@item.DraftId)">
                        <img width="100" src='@Url.Content(item.DisplayUrl)' alt="" />
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="popup-navigation">
        <div class="button" onclick="javascript: $('#order-item').hide();">Close</div>
    </div>
</div>
