@using Keystone.Web.Models
@model UserAddressModel

<p>
    <strong style="font-size:14px;">@ViewData["UserName"].ToString()</strong>
    <br />
    @if (Model != null)
    {
        @Model.Address1<br />
        @(string.Format("{0}, {1}, {2}", Model.City, Model.State, Model.Pin))<br />
        @Model.SeconderyContact
    }
</p>