<div id="item-container" class="order-item-container">
    <div class="first_img" style="width:27%;">
        <img src="" alt="" width="175" data-bind="attr: { src: $data.DisplayUrl }">
    </div>
    <div class="total_desc" style="width:71%;">
        <div class="order-item-description-left-section">
            <h1 data-bind="text: $data.TemplateTitle"></h1>
            <h2 data-bind='text: $data.TemplateWidth().toString() + "\" - " + $data.TemplateHeight().toString() + "\""'></h2>
            <ul data-bind="showDescription: $data.TemplateDesc"></ul>
        </div>
        <div class="order-item-description-right-section">
            <div>
                <select class="quantity_field"
                        data-bind="value: $data.Quantity, populateTemplatePriceByQuantity:{}">
                    <option>--select--</option>
                    <option value="50">50</option>
                    <option value="500">500</option>
                    <option value="2500">2500</option>
                </select>

                <span class="price-info" style="font-family: 'open_sansregular';font-size: 12px;"
                      data-bind="text: accounting.formatMoney($data.Price())"></span>
            </div>

            <div>
                <ul class="delivery-option">
                    <li>
                        <input type="radio" value="1"
                               data-bind="radioCheck: $data.DeliveryScheduleId, populateTemplatePriceByDelivery:{}, attr: { name: $data.OrderItemIdentifier }" />
                        <span>Standard Turnaround (7-10 days)</span>
                    </li>
                    <li>
                        <input type="radio" value="2"
                               data-bind="radioCheck: $data.DeliveryScheduleId, populateTemplatePriceByDelivery:{}, attr: { name: $data.OrderItemIdentifier }" />
                        <span>Expedited Turnaround (3-5 days)</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="order-item-footer">
            <ul>
                @*<li><a href="#">Duplicate and modify</a></li>
                <li>|</li>*@
                <li><a href="javascript:void(0);" data-bind="event: { click: $parent.EditItem }">Edit design</a></li>
                <li>|</li>
                <li><a href="javascript:void(0);" data-bind="event: { click: ShowPreviewWindow.bind($data) }">Preview</a></li>
                <li>|</li>
                <li><a href="javascript:void(0);" data-bind="event: { click: $parent.RemoveItem }">Remove from cart</a></li>
            </ul>
        </div>
    </div>
</div>
