@{
    //ViewBag.Title = "Price Summary";
    //Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@{Html.RenderPartial("_Templates");}

<div class="body_part_inner">
    <div class="left_price">
        <h2><span class="color">Centri-fuse Flyer - </span> WM001</h2>
        <ul class="left_partlist">
            <li>Simple informational flyer about centri-fuse, a fully customizable mouthguard kit</li>
            <li>Input your own part numbers and prices for kit and replacement sheets</li>
            <li>Customize contact information to increase leads and sales</li>
        </ul>
        <div class="left_image"><img src="Styles/Images/price_image.png" alt="" /></div>
    </div>
    <div class="right_part_inner">
        <div class="rate_chart">
            <div class="heading_price"><h2>Price Summary</h2></div>
            <div class="form_rate">
                <div class="name">Quantity</div>
                <select class="quantity_field">
                    <option>-- select--</option>
                    <option selected>50</option>
                    <option>500</option>
                    <option>2500</option>
                </select>
            </div>
            <div class="total_rate">
                <div class="rate_cost">Estimated Cost</div>
                <div class="rate_oftotal">$50.00</div>
            </div>
            <a href='#'>
                <input type="button" class="price_btn" value="CUSTOMIZE YOUR MATERIAL NOW" />
            </a>
        </div>
        <div class="rate_image2"><img src="Styles/Images/price_image2.png" alt="" /></div>
    </div>
</div>
