<div class="float-toolbar ztoolbar" id="shape_toolbar">
    <div id="btn_shape_delete" class="toolbar-button type2 dt-base-gradientt with-active" style="padding-top: 6px;">
        <div class="button-icon iconset iconset-edit-delete"></div>
        <div class="button-text" style="margin-top: 8px;">Delete</div>
    </div>

    <div id="btn_shape_fill_color" class="toolbar-button type2 has-menu menu-opener">
        <div class="button-content">
            <div class="colorSelector" id="fillcolor" style="background-color: #fff;">
            </div>
        </div>
        <div class="button-text">Fill</div>
    </div>

    <div id="btn_shape_border_color" class="toolbar-button type2 has-menu menu-opener">
        <div class="button-content">
            <div class="colorSelector" id="bordercolor" style="background-color: #fff;">
            </div>
        </div>
        <div class="button-text">Border</div>
    </div>

    <div class="toolbar-button type2 has-menu menu-opener" style="width:18%;">
        <div class="button-content">
            <div id="weightSelector" class="fontSelect" data-type="width" style="width:25px;">
                <div class="arrow-down"></div>
            </div>
            <div class="fontList" style="top: 34px;"></div>
        </div>
        <div class="button-text" style="float: left;">Weight</div>
    </div>

    <div class="toolbar-button type2 has-menu menu-opener" style="padding-top: 6px;">
        <div class="button-icon iconset" style="background-position: -528px 0px;"></div>
        <div class="button-text" style="margin-top:9px;">Stroke</div>
        <div id="shape_border_stroke_menu" class="button-menu">
            <div id="shape_border_stroke_solid" data-array-index="0" class="toolbar-button type4 dashiconset shape-border-stroke-option" style="background-position: center -1px"></div>
            <div id="shape_border_stroke_round_dot" data-array-index="1" class="toolbar-button type4 dashiconset shape-border-stroke-option" style="background-position: center -15px"></div>
            <div id="shape_border_stroke_square_dot" data-array-index="2" class="toolbar-button type4 dashiconset shape-border-stroke-option" style="background-position: center -29px"></div>
            <div id="shape_border_stroke_dash" data-array-index="3" class="toolbar-button type4 dashiconset shape-border-stroke-option" style="background-position: center -43px"></div>
            <div id="shape_border_stroke_dash_dot" data-array-index="4" class="toolbar-button type4 dashiconset shape-border-stroke-option" style="background-position: center -58px"></div>
            <div id="shape_border_stroke_long_dash" data-array-index="5" class="toolbar-button type4 dashiconset shape-border-stroke-option" style="background-position: center -72px"></div>
            <div id="shape_border_stroke_long_dash_dot" data-array-index="6" class="toolbar-button type4 dashiconset shape-border-stroke-option" style="background-position: center -86px"></div>
        </div>
    </div>

</div>